* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

table {
    border-collapse:collapse;
    border:1px solid #CCC;
  }

  td, th {
    padding:10px;
  }

  th {
    background:#000;
    color:#FFF;
    text-transform:uppercase;
  }

  td {
    text-align:center;
    border-bottom:2px solid #111;
    color:#333;
    font-size:18px;
  }